[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "==2.6.0"
python-dateutil = "==2.6.0"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
